* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #121212;
    color: #f0f0f0;
    padding: 10px;
}

.container {
    padding: 20px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 1s ease-out; /* Adicionando a animação de fade-in */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.canvas-container {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 5px;
}

canvas {
    border: 1px solid #343434;
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: auto;
}

input[type="file"],
button {
    background-color: #007bff;
    color: #f0f0f0;
    border: none;
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilizando o input de arquivo para se parecer com um botão */
input[type="file"].file-input {
    display: none;
}

label.file-input-label {
    display: block;
    text-align: center;
    background-color: #007bff;
    color: #f0f0f0;
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

label.file-input-label::after {
    content: attr(dimens);
    font-size: 13px;
    margin-left: 5px;
}

label.file-input-label:hover {
    background-color: #0056b3;
}

/* Estilizando o botão de aplicar shader */
button {
    display: block;
    margin-block: 5px;
    text-align: center;
    width: 100%;
}

button, label {
    transition: .6s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button:hover, label:hover {
    filter: saturate(30%);
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 5px;
    resize: vertical;
    background-color: #282828;
    color: #f0f0f0;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 10px;
    overflow: auto;
    font-family: monospace;
}

#downloadLink {
    display: block;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
    background-color: rgba(0, 123, 255, 0.8);
    color: #fff; /* Texto branco */
    transition: 0.2s; /* Transição de 0.2 segundos */
}

/* Estilizando o link quando o atributo disabled for verdadeiro */
#downloadLink[disabled="true"] {
    opacity: 0.6;
    cursor: not-allowed;
}

#downloadLink:hover {
    text-decoration: underline;
}

#error {
    background: #f003;
    color: #f00;
    font-size: 14px;
    border-left: 1px solid #f00;
    border-right: 1px solid #f00;
}

#error > span {
    padding: 6px;
}